{% extends 'base.html.twig' %}

{% block title %}MeinPraxis - Neuer Termin{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <h1 class="h3 font-weight-normal">Ihre Termine</h1>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Titel</th>
                <th scope="col">PatientIn</th>
                <th scope="col">Datum</th>
                <th scope="col">Startzeit</th>
                <th scope="col">Endzeit</th>
                <th scope="col">Beendet</th>
            </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment.title }}</td>
                        <td>{{ appointment.customer }}</td>
                        <td>kommt noch</td>
                        <td>{{ appointment.startDatetime | date('Y-m-d') }}</td>
                        <td>{{ appointment.endDatetime | date('Y-m-d')}}</td>
                        <td>{{ appointment.complete ? 'Ja' : 'Nein' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}