{% extends 'base.html.twig' %}

{% block title %}MeinPraxis - Termine{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ label }} fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <h1 class="h3 font-weight-normal">Ihre Termine</h1>
    </div>
    <br>
    <form method="get" action="{{ path('appointment_list') }}">
        <div class="form-group row">
            <label for="customer" class="col-sm-2 col-form-label">PatientIn</label>
            <select class="custom-select col-sm-10" id="customer" name="customer">
                <option value=""></option>
                {% for customer in customers %}
                    <option {{ app.request.query.get("customer") == customer.name ? "selected" : "" }}>{{ customer.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group row">
            <label for="fromDate" class="col-sm-2 col-form-label">Datum von</label>
            <input type="date" class="form-control col-sm-10" id="fromDate" name="fromDate" placeholder="Datum von" value="{{ app.request.query.get('fromDate') }}">
        </div>
        <div class="form-group row">
            <label for="toDate" class="col-sm-2 col-form-label">Datum bis</label>
            <input type="date" class="form-control col-sm-10" id="toDate" name="toDate" placeholder="Datum bis" value="{{ app.request.query.get('toDate') }}">
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="gridRadios1"
                               value="all" {{ not app.request.query.get("status") or app.request.query.get("status") == "all" ? "checked" : "" }}>
                        <label class="form-check-label" for="gridRadios1">
                            Alle
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="gridRadios2"
                               value="pending" {{ app.request.query.get("status") == "pending" ? "checked" : "" }}>
                        <label class="form-check-label" for="gridRadios2">
                            Anstehend
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="gridRadios2"
                               value="completed" {{ app.request.query.get("status") == "completed" ? "checked" : "" }}>
                        <label class="form-check-label" for="gridRadios2">
                            Beendet
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary col-2 order-8">Filter anwenden</button>
        </div>
    </form>
    <br>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Titel</th>
                <th scope="col">PatientIn</th>
                <th scope="col">Datum</th>
                <th scope="col">Startzeit</th>
                <th scope="col">Endzeit</th>
                <th scope="col">Beendet</th>
                <th scope="col" style="width: 250px">Optionen</th>
            </tr>
            </thead>
            <tbody>
            {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.title }}</td>
                    <td>{{ appointment.customer }}</td>
                    <td>{{ appointment.date | date('d.m.Y') }}</td>
                    <td>{{ appointment.startTime | date('H:i') }}</td>
                    <td>{{ appointment.endTime | date('H:i') }}</td>
                    <td>{{ appointment.complete ? 'Ja' : 'Nein' }}</td>
                    <td>
                        <form style="float: left" action="{{ path('appointment_update', {'id': appointment.id}) }}"
                              method="post">
                            <input type="hidden" name="_method" value="PUT"/>
                            <button type="submit"
                                    class="btn btn-{{ appointment.complete ? 'warning' : 'success' }}">{{ appointment.complete ? 'Zurücksetzen' : 'Beenden' }}</button>
                        </form>
                        <form style="float: left; margin-left: 2px" action="{{ path('appointment_delete', {'id': appointment.id}) }}"
                              method="post">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <button type="submit" class="btn btn-secondary btn-danger">Löschen</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}