{% extends 'base.html.twig' %}

{% block title %}MeinPraxis - Termine{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ label }} fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <h1 class="h3 font-weight-normal">Ihre Termine</h1>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Titel</th>
                <th scope="col">PatientIn</th>
                <th scope="col">Datum</th>
                <th scope="col">Startzeit</th>
                <th scope="col">Endzeit</th>
                <th scope="col">Beendet</th>
                <th scope="col" style="width: 250px">Optionen</th>
            </tr>
            </thead>
            <tbody>
            {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.title }}</td>
                    <td>{{ appointment.customer }}</td>
                    <td>{{ appointment.date | date('d.m.Y') }}</td>
                    <td>{{ appointment.startTime | date('H:i') }}</td>
                    <td>{{ appointment.endTime | date('H:i') }}</td>
                    <td>{{ appointment.complete ? 'Ja' : 'Nein' }}</td>
                    <td>
                        <form style="float: left" action="{{ path('appointment_update', {'id': appointment.id}) }}" method="post">
                            <input type="hidden" name="_method" value="PUT"/>
                            <button type="submit" class="btn btn-primary">{{ appointment.complete ? 'Zurücksetzen' : 'Beenden' }}</button>
                        </form>
                        <form style="float: right" action="{{ path('appointment_delete', {'id': appointment.id}) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <button type="submit" class="btn btn-secondary btn-danger">Löschen</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}